In [6]:
#%%

# =============================================================================
# =============================================================================
# # 문제 03 유형(DataSet_03.csv 이용)
# 
# 구분자 : comma(“,”), 5,001 Rows, 8 Columns, UTF-8 인코딩
# 안경 체인을 운영하고 있는 한 회사에서 고객 사진을 바탕으로 안경의 사이즈를
# 맞춤 제작하는 비즈니스를 기획하고 있다. 우선 데이터만으로 고객의 성별을
# 파악하는 것이 가능할 지를 연구하고자 한다.
#
# 컬 럼 / 정 의 / Type
# long_hair / 머리카락 길이 (0 – 길지 않은 경우 / 1 – 긴
# 경우) / Integer
# forehead_width_cm / 이마의 폭 (cm) / Double
# forehead_height_cm / 이마의 높이 (cm) / Double
# nose_wide / 코의 넓이 (0 – 넓지 않은 경우 / 1 – 넓은 경우) / Integer
# nose_long / 코의 길이 (0 – 길지 않은 경우 / 1 – 긴 경우) / Integer
# lips_thin / 입술이 얇은지 여부 0 – 얇지 않은 경우 / 1 –
# 얇은 경우) / Integer
# distance_nose_to_lip_long / 인중의 길이(0 – 인중이 짧은 경우 / 1 – 인중이
# 긴 경우) / Integer
# gender / 성별 (Female / Male) / String
# =============================================================================
# =============================================================================

In [7]:
import pandas as pd
dataset = pd.read_csv('Dataset/Dataset_03.csv')

In [8]:
print(dataset.columns)
print(dataset.shape)
print(dataset.dtypes)
dataset

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender'],
      dtype='object')
(5001, 8)
long_hair                      int64
forehead_width_cm            float64
forehead_height_cm           float64
nose_wide                      int64
nose_long                      int64
lips_thin                      int64
distance_nose_to_lip_long      int64
gender                        object
dtype: object

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [9]:
#%%

# =============================================================================
# 1.이마의 폭(forehead_width_cm)과 높이(forehead_height_cm) 사이의
# 비율(forehead_ratio)에 대해서 평균으로부터 3 표준편차 밖의 경우를 이상치로
# 정의할 때, 이상치에 해당하는 데이터는 몇 개인가? (답안 예시) 10
# =============================================================================

# 변수 생성(forehead_ration)
# 생성된 변수 기준으로 평균과 표준편차 계산
# 평균 - 3*표준편차(LL) ~ 평균 + 3*표준편차(UU): 벗어난 데이터 이상치

In [10]:
q1 = dataset.copy()
q1['forehead_ratio'] = q1['forehead_width_cm']  / q1['forehead_height_cm']

In [11]:
# 평균과 표준편차 계산
m1 = q1['forehead_ratio'].mean()
sd1 = q1['forehead_ratio'].std()

LL = m1 - (3*sd1)
UU = m1 + (3*sd1)

q1_out = q1[(q1['forehead_ratio'] < LL) | (q1['forehead_ratio'] > UU)]
print('answer :',len(q1_out))

answer : 3

---

In [12]:
#%% 어떤 통계검정? => 검정은 이분산으로 가정하고 진행

#2) 평균분석(t 검증)
#측정하여 얻은 데이터가 점수고 비교해야할 집단이 두 개만 존재할 때, 두 개 집단의 평균 등을 비교하여 가설을 검증한다. 

# =============================================================================
# 2.성별에 따라 forehead_ratio 평균에 차이가 있는지 적절한 통계 검정을 수행하시오.
# - 검정은 이분산을 가정하고 수행한다.
# - 검정통계량의 추정치는 절대값을 취한 후 소수점 셋째 자리까지 반올림하여
# 기술하시오.
# - 신뢰수준 99%에서 양측 검정을 수행하고 결과는 귀무가설 기각의 경우 Y로, 그렇지
# 않을 경우 N으로 답하시오. (답안 예시) 1.234, Y
# =============================================================================


# 독립인 두 집단 간의 평균 차이 검정

In [14]:
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel

ttest_ind(q1.forehead_ratio[q1.gender=='Male'],
         q1.forehead_ratio[q1.gender=='Female'],
         equal_var=False)
#          conf_level=0.99)
    
    
#정답 : 2.999, Y (statistic : 검정통계량 , 귀무가설 기각여부 : pvalue)

Ttest_indResult(statistic=2.9994984197511543, pvalue=0.0027186702390657176)

---

In [16]:
#%%

# =============================================================================
# 3.주어진 데이터를 사용하여 성별을 구분할 수 있는지 로지스틱 회귀분석을 적용하여
# 알아 보고자 한다. 

# - 데이터를 7대 3으로 나누어 각각 Train과 Test set로 사용한다. 이 때 seed는 123으로
# 한다.

# - 원 데이터에 있는 7개의 변수만 Feature로 사용하고 gender를 label로 사용한다.
# (forehead_ratio는 사용하지 않음)

# - 로지스틱 회귀분석 예측 함수와 Test dataset를 사용하여 예측을 수행하고 정확도를
# 평가한다. 이 때 임계값은 0.5를 사용한다. 
# - Male의 Precision 값을 소수점 둘째 자리까지 반올림하여 기술하시오. (답안 예시) 
# 0.12
# 
# 
# (참고) 
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# train_test_split 의 random_state = 123
# =============================================================================


# 데이터셋 분리(seed 체크)
# 모델 만들 때는 학습용 데이터셋 활용
# 검정 시 테스트용 데이터셋 활용

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, precision_score

# 데이터셋 분리(seed 체크)
# 모델 만들 때는 학습용 데이터셋 활용
# 검정 시 테스트용 테스트셋 활용

train, test = train_test_split(dataset, test_size=0.3, random_state=123)


model1 = LogisticRegression().fit(train.drop(columns='gender'),
                                train.gender)

In [24]:
# - 로지스틱 회귀분석 예측 함수와 Test dataset를 사용하여 예측을 수행하고 정확도를
# 평가한다. 이 때 임계값은 0.5를 사용한다. 
pred = model1.predict(test.drop(columns='gender'))

model1.predict_proba(test.drop(columns='gender'))
print(classification_report(test.gender, pred))

# 정확도 평가
precision_score(test.gender, pred, pos_label='Male').round(2)

              precision    recall  f1-score   support

      Female       0.97      0.96      0.96       743
        Male       0.96      0.97      0.97       758

    accuracy                           0.97      1501
   macro avg       0.97      0.97      0.97      1501
weighted avg       0.97      0.97      0.97      1501

0.96