In [ ]:
# =============================================================================
# =============================================================================
# # 문제 13 유형(DataSet13_train.csv / DataSet13_test.csv  이용)

# 구분자 : 
#     comma(“,”), 1500 Rows, 10 Columns, UTF-8 인코딩 / 
#     comma(“,”), 500 Rows, 10 Columns, UTF-8 인코딩

# 전국의 데이터 분석가 2000명을 대상으로 이직 관련 설문조사를 실시하였다. 
# 설문 대상자의 특성 및 이직 의사와 관련 인자를 면밀히 살펴보기 위해 다양한
# 분석을 실시하고자 한다.

# 컬 럼 / 정 의 / Type
# city_development_index / 거주 도시 개발 지수 / Double
# gender / 성별 / String
# relevent_experience / 관련 직무 경험 여부(1 : 유경험) / Integer
# enrolled_university / 대학 등록 형태(1 : 풀타임/파트타임) / Integer
# education_level / 교육 수준 / String
# major_discipline / 전공 / String
# experience / 경력 / Double
# last_new_job / 현 직장 직전 직무 공백 기간 / Double
# training_hours / 관련 직무 교육 이수 시간 / Double
# target / 이직 의사 여부(1 : 의사 있음) / Integer
# =============================================================================
# =============================================================================

In [2]:
import pandas as pd
import numpy as np

dataset13 = pd.read_csv('Dataset/Dataset_13_train.csv')

In [10]:
dataset13.head()

,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,last_new_job,training_hours,target
0,0.516,Male,1,0,Graduate,STEM,13,5,36,1
1,0.766,Male,1,0,Graduate,STEM,12,5,264,0
2,0.920,Male,1,0,Masters,STEM,10,2,99,0
3,0.899,Male,1,0,Graduate,Business Degree,16,1,20,0
4,0.884,Male,1,0,Masters,STEM,20,5,39,0

In [3]:
#%%

# =============================================================================
# 1.(Dataset_13_train.csv를 활용하여) 경력과 최근 이직시 공백기간의 상관관계를 보고자
# 한다. 남여별 피어슨 상관계수를 각각 산출하고 더 높은 상관계수를 기술하시오.
# - 상관계수는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# =============================================================================

In [4]:
q1 = dataset13.copy()

In [11]:
q1_m = q1[q1['gender']== 'Male']
q1_f = q1[q1['gender']== 'Female']

In [12]:
q1_m[['experience','last_new_job']].corr()

              experience  last_new_job
experience      1.000000      0.411155
last_new_job    0.411155      1.000000

In [13]:
q1_f[['experience','last_new_job']].corr()

              experience  last_new_job
experience      1.000000      0.451898
last_new_job    0.451898      1.000000

In [51]:
# 방법 2
# df.groupby(["gender"])[["experience","last_new_job"]].corr()

In [ ]:
# 정답 : 0.45

In [14]:
#%%

# =============================================================================
# 2.(Dataset_13_train.csv를 활용하여) 기존 데이터 분석 관련 직무 경험과 이직 의사가 서로
# 관련이 있는지 알아보고자 한다. 이를 위해 독립성 검정을 실시하고 해당 검정의 p-value를 기술하시오.
# - 검정은 STEM 전공자를 대상으로 한다.
# - 검정은 충분히 발달된 도시(도시 개발 지수가 제 85 백분위수 초과)에 거주하는 사람을
# 대상으로 한다.
# - 이직 의사 여부(target)은 문자열로 변경 후 사용한다.
# - p-value는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# =============================================================================

In [16]:
# 컬 럼 / 정 의 / Type
# city_development_index / 거주 도시 개발 지수 / Double
# gender / 성별 / String
# relevent_experience / 관련 직무 경험 여부(1 : 유경험) / Integer
# enrolled_university / 대학 등록 형태(1 : 풀타임/파트타임) / Integer
# education_level / 교육 수준 / String
# major_discipline / 전공 / String
# experience / 경력 / Double
# last_new_job / 현 직장 직전 직무 공백 기간 / Double
# training_hours / 관련 직무 교육 이수 시간 / Double
# target / 이직 의사 여부(1 : 의사 있음) / Integer

In [15]:
q2 = dataset13.copy()

In [37]:
q2_1 = q2[(q2['major_discipline']=='STEM') & (q2.city_development_index > q2.city_development_index.quantile(0.85))]

In [42]:
q2_1['target'] = q2_1['target'].astype('str')

C:\ananconda\envs\multi\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
q2_tab = pd.crosstab(index=q2_1.relevent_experience, columns=q2_1.target)

import scipy.stats as sc

q2_out = sc.chi2_contingency(q2_tab)
q2_out[1].round(2) # => pvalue

0.64

In [52]:
#%%


# =============================================================================
# 3.(Dataset_13_train.csv를 활용하여) 인사팀에서는 어떤 직원이 이직 의사를 가지고 있을지
# 사전에 파악하고 1:1 면담 등 집중 케어를 하고자 한다. 이를 위해 의사결정 나무를
# 활용하여 모델을 생성하고 그 정확도를 확인하시오.
# - target을 종속변수로 하고 나머지 변수 중 String이 아닌 변수를 독립변수로 한다.
# - 학습은 전부 기본값으로 실시한다.
# - 평가는 "Dataset_13_test.csv" 데이터로 실시한다.
# - 정확도는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# 
# =============================================================================

# (참고)
# from sklearn.tree import DecisionTreeClassifier
# random_state = 123

In [53]:
df = dataset13.copy()

In [54]:
from sklearn.tree import DecisionTreeClassifier

In [56]:
x_var = df.columns[df.dtypes != 'object'].drop('target')

In [57]:
dt = DecisionTreeClassifier(random_state=123).fit(df[x_var], df['target'])

In [58]:
test = pd.read_csv('Dataset/Dataset_13_test.csv')

In [60]:
dt.score(test[x_var], test['target']).round(2)

0.67