In [ ]:
#%%

# =============================================================================
# =============================================================================
# # 문제 04 유형(DataSet_04.csv 이용)
#
#구분자 : comma(“,”), 6,718 Rows, 4 Columns, UTF-8 인코딩

# 한국인의 식생활 변화가 건강에 미치는 영향을 분석하기에 앞서 육류
# 소비량에 대한 분석을 하려고 한다. 확보한 데이터는 세계 각국의 1인당
# 육류 소비량 데이터로 아래와 같은 내용을 담고 있다.

# 컬 럼 / 정 의 / Type
# LOCATION / 국가명 / String
# SUBJECT / 육류 종류 (BEEF / PIG / POULTRY / SHEEP) / String
# TIME / 연도 (1990 ~ 2026) / Integer
# Value / 1인당 육류 소비량 (KG) / Double
# =============================================================================
# =============================================================================

# (참고)
# #1
# import pandas as pd
# import numpy as np
# #2
# from scipy.stats import ttest_rel
# #3
# from sklearn.linear_model import LinearRegression

#%%

In [2]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('Dataset/Dataset_04.csv')

In [3]:
dataset

     LOCATION SUBJECT  TIME      Value
0         AUS    BEEF  1991  27.721815
1         AUS    BEEF  1992  26.199591
2         AUS    BEEF  1993  26.169094
3         AUS    BEEF  1994  25.456134
4         AUS    BEEF  1995  25.340226
...       ...     ...   ...        ...
6713     EU28   SHEEP  2022   2.012270
6714     EU28   SHEEP  2023   2.018727
6715     EU28   SHEEP  2024   2.026332
6716     EU28   SHEEP  2025   2.034105
6717     EU28   SHEEP  2026   2.043498

[6718 rows x 4 columns]

In [ ]:
#%% 상관분석 문제

# =============================================================================
# 1.한국인의 1인당 육류 소비량이 해가 갈수록 증가하는 것으로 보여 상관분석을 통하여
# 확인하려고 한다. 
# - 데이터 파일로부터 한국 데이터만 추출한다. 한국은 KOR로 표기되어 있다.

# - 년도별 육류 소비량 합계를 구하여 TIME과 Value간의 상관분석을 수행하고

# 상관계수를 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지만 기술하시오. 
# (답안 예시) 0.55
# =============================================================================

In [4]:
q1 = dataset.copy()

In [5]:
q1.columns

Index(['LOCATION', 'SUBJECT', 'TIME', 'Value'], dtype='object')

In [6]:
q1 = q1[q1['LOCATION'] == "KOR"]

In [7]:
# 년도별 육류 소비량 합계를 구하기
q1_out=pd.pivot_table(data=q1, index='TIME', values='Value',aggfunc='sum')
q1_out

          Value
TIME
1990   5.774255
1991  21.911207
1992  26.901769
1993  26.938255
1994  27.877341
1995  30.042035
1996  31.928922
1997  32.002991
1998  30.009057
1999  35.383138
2000  34.957160
2001  35.336550
2002  37.162442
2003  39.471677
2004  35.171424
2005  36.617273
2006  41.910995
2007  43.690430
2008  43.941183
2009  43.336372
2010  46.412261
2011  46.799325
2012  46.128025
2013  49.496899
2014  53.274723
2015  55.254123
2016  55.665778
2017  55.885227
2018  56.146592
2019  56.394942
2020  56.643664
2021  56.900853
2022  57.194312
2023  57.491758
2024  57.781372
2025  58.083483
2026  58.392009

In [8]:
# 두 개의 컬럼을 만들기 위해 reset_index를 수행
q1_out.reset_index(inplace=True)

In [21]:
# 상관관계 분석
q1_out.corr()['Value']['TIME'].round(3)

0.96

---

In [14]:
#%% 두 집단간의 평균 분석 (t-test) => p-value

# =============================================================================
# 2. 한국 인근 국가 가운데 식생의 유사성이 상대적으로 높은 일본(JPN)과 비교하여, 연도별
# 소비량에 평균 차이가 있는지 분석하고자 한다.

# - 두 국가의 육류별 소비량을 연도기준으로 비교하는 대응표본 t 검정을 수행하시오.

# - 두 국가 간의 연도별 소비량 차이가 없는 것으로 판단할 수 있는 육류 종류를 모두
# 적으시오. (알파벳 순서) (답안 예시) BEEF, PIG, POULTRY, SHEEP
# =============================================================================

In [15]:
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel

In [16]:
q2 = dataset.copy()

In [17]:
q2 = q2[q2.LOCATION.isin(['KOR','JPN'])]
q2

    LOCATION SUBJECT  TIME     Value
294      JPN    BEEF  1990  6.111035
295      JPN    BEEF  1991  6.517055
296      JPN    BEEF  1992  6.766244
297      JPN    BEEF  1993  7.406407
298      JPN    BEEF  1994  8.129090
..       ...     ...   ...       ...
583      KOR   SHEEP  2022  0.197951
584      KOR   SHEEP  2023  0.199098
585      KOR   SHEEP  2024  0.200266
586      KOR   SHEEP  2025  0.201451
587      KOR   SHEEP  2026  0.202656

[294 rows x 4 columns]

In [18]:
q2_out = pd.pivot_table(data=q2, index=['TIME','SUBJECT'],
                       columns=['LOCATION'],
                        values='Value')

In [19]:
q2_out

LOCATION            JPN        KOR
TIME SUBJECT
1990 BEEF      6.111035        NaN
     PIG      13.219006        NaN
     POULTRY  12.844865   5.570102
     SHEEP     0.756696   0.204153
1991 BEEF      6.517055   5.085481
...                 ...        ...
2025 SHEEP     0.125060   0.201451
2026 BEEF      6.844875  10.737425
     PIG      15.544018  29.544063
     POULTRY  14.768340  17.907865
     SHEEP     0.122136   0.202656

[148 rows x 2 columns]

In [23]:
# 결측치 처리
q2_out=q2_out.dropna()

# 비교를 위한 reset_index
q2_out=q2_out.reset_index()
q2_out

LOCATION  TIME  SUBJECT        JPN        KOR
0         1990  POULTRY  12.844865   5.570102
1         1990    SHEEP   0.756696   0.204153
2         1991     BEEF   6.517055   5.085481
3         1991      PIG  13.239267   9.930182
4         1991  POULTRY  12.055422   6.738203
..         ...      ...        ...        ...
141       2025    SHEEP   0.125060   0.201451
142       2026     BEEF   6.844875  10.737425
143       2026      PIG  15.544018  29.544063
144       2026  POULTRY  14.768340  17.907865
145       2026    SHEEP   0.122136   0.202656

[146 rows x 4 columns]

In [24]:
sub_list = q2_out.SUBJECT.unique()
# array(['POULTRY', 'SHEEP', 'BEEF', 'PIG'], dtype=object)

In [27]:
from scipy.stats import ttest_rel
q2_out2 = []

for i in sub_list:
    temp = q2_out[q2_out.SUBJECT == i]
    pvalue = ttest_rel(temp['KOR'], temp['JPN']).pvalue
    q2_out2 = q2_out2 + [[i, pvalue]]
    
q2_out2=pd.DataFrame(q2_out2, columns=['sub','pvalue'])

In [28]:
q2_out2

       sub        pvalue
0  POULTRY  4.690626e-01
1    SHEEP  4.346643e-05
2     BEEF  3.541916e-04
3      PIG  1.063500e-10

In [32]:
# 차이가 없다는 말은 귀무가설을 채택하겠다는 의미이므로 
# pvalue가 0.05이상인 경우 귀무가설 기각하지 않음, 즉 채택

q2_out2[q2_out2.pvalue >= 0.05]
# 정답 : POULTRY

       sub    pvalue
0  POULTRY  0.469063

---

In [29]:
#%% 회귀분석 => linearRegreesion

# =============================================================================
# 3.(한국만 포함한 데이터에서) Time을 독립변수로, Value를 종속변수로 하여 육류
# 종류(SUBJECT) 별로 회귀분석을 수행하였을 때, 가장 높은 결정계수를 가진 모델의
# 학습오차 중 MAPE를 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 21.12
# (MAPE : Mean Absolute Percentage Error, 평균 절대 백분율 오차)
# (MAPE = Σ ( | y - y ̂ | / y ) * 100/n ))
# 
# =============================================================================

In [30]:
from sklearn.linear_model import LinearRegression
from statsmodels.api import OLS, add_constant
from sklearn.metrics import r2_score, mean_absolute_error # 결정계수 r2_score

q3 = q2_out.drop(columns='JPN')

q3['TIME'].shape #(146,)
q3[['TIME']].shape #(146,1) 모델에 학습할 때 2차원모델로 넣어야한다.

q3_out=[]
sub_list = q3.SUBJECT.unique()

for i in sub_list:
    temp = q3[q3.SUBJECT == i]
     # X(입력변수) 2차원 구조로 입력
    lm = LinearRegression().fit(temp[['TIME']], temp.KOR)
    r2_score = lm.score(temp[['TIME']], temp.KOR)
    q3_out = q3_out + [[i, r2_score]]
    
q3_out = pd.DataFrame(q3_out, columns=['sub','r2_score'])

In [31]:
q3_out

       sub  r2_score
0  POULTRY  0.951498
1    SHEEP  0.004083
2     BEEF  0.835456
3      PIG  0.940681

In [34]:
# MAPE = Σ ( | y - y ̂ | / y ) * 100/n

temp = q3[q3.SUBJECT == 'POULTRY']

lm2 = LinearRegression().fit(temp[['TIME']], temp.KOR)
pred = lm2.predict(temp[['TIME']])

mape = (abs(temp.KOR - pred)/temp.KOR).sum() * 100/len(temp)
print(mape.round(3))
# 정답 : 5.783s

5.783

---

## (기타) 확장

In [40]:
q3_out=[]
sub_list = q3.SUBJECT.unique()

for i in sub_list:
    temp = q3[q3.SUBJECT == i]
    globals()['lm_' + str(i)]= LinearRegression().fit(temp[['TIME']], temp.KOR)
    # X(입력변수) 2차원 구조로 입력
    r2_score = eval('lm_' + str(i)).score(temp[['TIME']], temp.KOR)
    q3_out = q3_out + [[i, r2_score]]
    
q3_out = pd.DataFrame(q3_out, columns=['sub','r2_score'])

In [41]:
q3_out

       sub  r2_score
0  POULTRY  0.951498
1    SHEEP  0.004083
2     BEEF  0.835456
3      PIG  0.940681

In [43]:
lm_PIG.coef_

array([0.55942423])