In [1]:
# =============================================================================
# =============================================================================
# # 문제 08 유형(DataSet_08.csv 이용)
#
# 구분자 : comma(“,”), 50 Rows, 5 Columns, UTF-8 인코딩
#
# 스타트업 기업들의 수익성에 대한 분석을 하기 위하여
# 아래와 같은 데이터를 입수하였다
#
# 
# 컬 럼 / 정 의 / Type
# RandD_Spend / 연구개발비 지출 / Double
# Administration / 운영관리비 지출 / Double
# Marketing_Spend / 마케팅비 지출 / Double
# State / 본사 위치 / String
# Profit / 이익 / Double
# =============================================================================
# =============================================================================

# =============================================================================
# (참고)
# #1
# import pandas as pd
# import numpy as np
# #3
# from sklearn.linear_model import LinearRegression
# =============================================================================

In [3]:
import pandas as pd

dataset8 = pd.read_csv('Dataset/Dataset_08.csv')

In [14]:
dataset8.head(3)

   RandD_Spend  Administration  Marketing_Spend       State     Profit
0    165349.20       136897.80        471784.10    New York  192261.83
1    162597.70       151377.59        443898.53  California  191792.06
2    153441.51       101145.55        407934.54     Florida  191050.39

In [2]:
# =============================================================================
# 1.각 주(State)별 데이터 구성비를 소수점 둘째 자리까지 구하고, 알파벳 순으로
# 기술하시오(주 이름 기준).
# (답안 예시) 0.12, 0.34, 0.54
# =============================================================================

In [5]:
q1 = dataset8.copy()

In [25]:
li = sorted(q1.State.unique())

In [34]:
for i in li:
    print((q1.State[q1.State == i].count() / len(q1.State)).round(3))

0.34
0.32
0.34

In [3]:
# =============================================================================
# 2.주별 이익의 평균을 구하고, 평균 이익이 가장 큰 주와 작은 주의 차이를 구하시오. 
# 차이값은 소수점 이하는 버리고 정수부분만 기술하시오. (답안 예시) 1234
# =============================================================================

In [41]:
q2 = dataset8.copy()

In [44]:
q2_out = pd.pivot_table(data=q2, index='State', values='Profit', aggfunc='mean')

In [47]:
int(q2_out.Profit.max() - q2_out.Profit.min() )

14868

In [4]:
# =============================================================================
# 3.독립변수로 RandD_Spend, Administration, Marketing_Spend를 사용하여 Profit을 주별로
# 예측하는 회귀 모형을 만들고, 이 회귀모형을 사용하여 학습오차를 산출하시오.
# - 주별로 계산된 학습오차 중 MAPE 기준으로 가장 낮은 오차를 보이는 주는 어느
# 주이고 그 값은 무엇인가? (반올림하여 소수점 둘째 자리까지 기술하시오)
# - (MAPE = Σ ( | y - y ̂ | / y ) * 100/n )
# (답안 예시) ABC, 1.56
# =============================================================================

In [21]:
from sklearn.linear_model import LinearRegression

x_var = ['RandD_Spend', 'Administration', 'Marketing_Spend']

temp=dataset8[dataset8.State == 'Florida']
lm_NY=LinearRegression().fit(temp[x_var], temp.Profit)
pred_NY = lm_NY.predict(temp[x_var])

mape_NY=(abs(temp.Profit - pred_NY)/ temp.Profit).sum() * 100 / len(temp)

In [18]:
mape_NY

8.524247700724837

In [20]:
mape_NY

15.227582003020185

In [22]:
mape_NY

5.706713100164494

In [ ]:
# 정답 : Florida , 5.71