In [1]:
import pandas as pd
dataset = pd.read_csv('Dataset/Dataset_03.csv')

In [14]:
print(dataset.columns)
print(dataset.shape)
print(dataset.dtypes)
dataset

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender'],
      dtype='object')
(5001, 8)
long_hair                      int64
forehead_width_cm            float64
forehead_height_cm           float64
nose_wide                      int64
nose_long                      int64
lips_thin                      int64
distance_nose_to_lip_long      int64
gender                        object
dtype: object

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [15]:
# 첫번째 문제
# 변수 생성 (forehead_ration)
# 생성된 변수 기준으로 평균과 표준편차 계산
# 평균 - 3*표준편차 (LL), 평균 + 3*표준편차 (UU)
q1 = dataset.copy()
q1['forehead_ratio'] = q1['forehead_width_cm']  / q1['forehead_height_cm']

In [20]:
m1 = q1['forehead_ratio'].mean()
sd1 = q1['forehead_ratio'].std()

LL = m1 - (3*sd1)
UU = m1 + (3*sd1)

q1_out = q1[(q1['forehead_ratio'] < LL) | (q1['forehead_ratio'] > UU)]
print('answer :',len(q1_out))

answer : 3

---

2. 성별에 따라  forehead_ratio 평균에 차이가 있는지 적절한 통계 검정을 수행하시오(t-test)
- 검정은 이분산을 가정하고 수행한다.
- 검정통계량의 추정치는 절대값을 취한 후 소수점 셋째 자리까지 반올림하여 기술하시오
- 신뢰수준 99%에서 양측 검정을 수행하고 결과는 귀무가설 기각의 경우 Y로, 그렇지 않을 경우 N

In [30]:
# 독립인 두 집단 간의 평균 차이 검정

from scipy.stats import ttest_1samp, ttest_ind, ttest_rel

ttest_ind(q1.forehead_ratio[q1.gender=='Male'],
         q1.forehead_ratio[q1.gender=='Female'],
         equal_var=False)
         #conf_level=0.99)
    
    
#정답 : 2.999, Y

Ttest_indResult(statistic=2.9994984197511543, pvalue=0.0027186702390657176)

In [23]:
q1

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender,forehead_ratio
0,1,11.8,6.1,1,0,1,1,Male,1.934426
1,0,14.0,5.4,0,0,1,0,Female,2.592593
2,0,11.8,6.3,1,1,1,1,Male,1.873016
3,0,14.4,6.1,0,1,1,1,Male,2.360656
4,1,13.5,5.9,0,0,0,0,Female,2.288136
...,...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female,2.666667
4997,1,11.9,5.4,0,0,0,0,Female,2.203704
4998,1,12.9,5.7,0,0,0,0,Female,2.263158
4999,1,13.2,6.2,0,0,0,0,Female,2.129032
5000,1,15.4,5.4,1,1,1,1,Male,2.851852

---

3. 로지스틱 회귀

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, precision_score

# 데이터셋 분리(seed 체크)
# 모델 만들 때는 학습용 데이터셋 활용
# 검정 시 테스트용 테스트셋 활용

train, test = train_test_split(dataset, test_size=0.3, random_state=123)

model1 = LogisticRegression().fit(train.drop(columns='gender'),
                                train.gender)

pred = model1.predict(test.drop(columns='gender'))
model1.predict_proba(test.drop(columns='gender'))
print(classification_report(test.gender, pred))

precision_score(test.gender, pred, pos_label='Male')

              precision    recall  f1-score   support

      Female       0.97      0.96      0.96       743
        Male       0.96      0.97      0.97       758

    accuracy                           0.97      1501
   macro avg       0.97      0.97      0.97      1501
weighted avg       0.97      0.97      0.97      1501