In [2]:
import pandas as pd
import numpy as np

In [375]:
df = pd.read_csv('LOCAL_PEOPLE_20190101.csv')

In [376]:
df

,기준일ID,시간대구분,행정동코드,집계구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20190101,0,11110515,1101072010002,437,10,6,7,12,13,...,16,16,17,18,17,18,14,9,11,43
1,20190101,0,11110515,1101072010003,288,12,8,8,9,12,...,9,8,10,14,15,11,17,7,9,23
2,20190101,0,11110515,1101072010004,174,*,*,4,*,9,...,5,*,*,5,8,5,7,9,5,11
3,20190101,0,11110515,1101072010005,327,14,9,9,11,14,...,11,10,12,16,18,12,15,8,10,26
4,20190101,0,11110515,1101072010006,214,5,*,6,*,7,...,4,9,11,13,9,6,7,7,6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459658,20190101,23,11740700,1125071022201,523,13,6,12,8,10,...,15,19,18,18,26,21,29,27,25,22
459659,20190101,23,11740700,1125071022202,136,*,*,*,*,*,...,*,4,4,4,6,5,7,7,6,5
459660,20190101,23,11740700,1125071022501,422,10,5,10,6,8,...,12,15,15,15,21,17,23,22,20,17
459661,20190101,23,11740700,1125071022701,381,15,7,9,9,7,...,11,11,15,13,19,21,19,22,15,28
459662,20190101,23,11740700,1125071023701,383,9,4,9,6,7,...,11,13,13,13,19,15,21,20,18,16

In [248]:
#h_df = df.sort_values(by=['행정동코드'])

In [249]:
#df2 = df.sort_values(by=['총생활인구수'],ascending=False)

In [251]:
#int(df2[['총생활인구수']].mean())

In [252]:
# a = int(df2[["총생활인구수"]].mean())
# df3 = df2.query(f'총생활인구수 >= {a}')
# df3

In [253]:
code = pd.read_csv('행정동코드.csv',index_col=0)

In [254]:
code = code.query("시군구명 == '용산구'")

In [255]:
sorted(code['행정동코드'])

[11170510,
 11170520,
 11170530,
 11170555,
 11170560,
 11170570,
 11170580,
 11170590,
 11170625,
 11170630,
 11170640,
 11170650,
 11170660,
 11170685,
 11170690,
 11170700]

In [383]:
df1 = pd.merge(df,code.iloc[:,1:], on='행정동코드',how ='left')

In [384]:
df1 = df1.dropna()

In [385]:
df.shape

(459663, 33)

In [386]:
df1.shape

(10464, 36)

In [387]:
df1 = df1.sort_values(by=['총생활인구수'],ascending=False)

In [388]:
df1.head()

,기준일ID,시간대구분,행정동코드,집계구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,시도명,시군구명,행정동명
288051,20190101,15,11170625,1103073020004,25918,961,405,482,1000,1647,...,1043,987,850,824,629,355,890,서울,용산구,한강로동
307204,20190101,16,11170625,1103073020004,24719,867,366,458,1063,1648,...,961,905,789,722,573,320,820,서울,용산구,한강로동
268898,20190101,14,11170625,1103073020004,24398,967,408,397,966,1427,...,1004,969,806,756,576,350,850,서울,용산구,한강로동
249745,20190101,13,11170625,1103073020004,23292,995,420,474,916,1277,...,1069,883,775,765,636,334,860,서울,용산구,한강로동
326357,20190101,17,11170625,1103073020004,23050,720,304,459,997,1487,...,923,856,772,649,514,307,708,서울,용산구,한강로동

In [389]:
def time(x):
    return x['시간대구분'] in [23,0,12,13,18,19]

df1 = df1[df1.apply(time,axis=1)]

In [395]:
df1[(df1['시간대구분'] == )]['총생활인구수'].sum()

258989

,기준일ID,시간대구분,행정동코드,집계구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
191528,20190101,10,11110515,1101072010001,160,4,*,4,*,9,...,4,*,4,6,8,5,7,5,*,9
191529,20190101,10,11110515,1101072010002,424,8,5,10,14,14,...,17,13,18,15,18,19,15,11,9,39
191530,20190101,10,11110515,1101072010003,340,11,7,8,11,22,...,9,9,12,12,20,12,17,12,7,19
191531,20190101,10,11110515,1101072010004,122,*,*,*,*,6,...,*,*,4,5,5,*,5,5,*,6
191532,20190101,10,11110515,1101072010005,208,8,5,5,7,13,...,5,6,5,8,11,7,9,4,4,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210676,20190101,10,11740700,1125071022201,263,11,5,7,5,6,...,10,7,9,10,10,9,10,13,8,16
210677,20190101,10,11740700,1125071022202,81,*,*,*,*,*,...,*,*,*,*,*,*,*,4,*,5
210678,20190101,10,11740700,1125071022501,279,11,6,7,5,6,...,11,7,10,11,11,9,11,14,9,17
210679,20190101,10,11740700,1125071022701,200,9,4,4,8,8,...,5,5,7,5,7,6,11,9,5,17
210680,20190101,10,11740700,1125071023701,233,10,5,6,4,5,...,9,6,8,9,9,8,9,12,7,14