In [3]:
import pandas as pd
import numpy as np

## 소규모 상가 공실률

In [20]:
ssg21 = pd.read_excel('상권별_소규모_상가_공실률_2021.xlsx')
ssg20 = pd.read_excel('상권별_소규모_상가_공실률_2020.xlsx')
ssg19 = pd.read_excel('상권별_소규모_상가_공실률_2019.xlsx')
ssg18 = pd.read_excel('상권별_소규모_상가_공실률_2018.xlsx')
ssg17 = pd.read_excel('상권별_소규모_상가_공실률_2017.xlsx')

ssg21_20 = [ssg20,ssg21]
ssg17_19 = [ssg17,ssg18,ssg19]

df21_20 = pd.DataFrame(ssg21[['상권별(1)','상권별(2)','상권별(3)']])
for ssg in ssg21_20:
    for i in ssg.columns:
        if i not in ['상권별(1)','상권별(2)','상권별(3)']:
            df21_20[i] = ssg[i]
            
            
df17_19 = pd.DataFrame(ssg17[['상권별(1)','상권별(2)']])
for ssg in ssg17_19:
    for i in ssg.columns:
        if i not in ['상권별(1)','상권별(2)']:
            df17_19[i] = ssg[i]

df21_20.head()

C:\ananconda\envs\multi\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  상권별(1)    상권별(2) 상권별(3)  2020 1/4  2020 2/4  2020 3/4  2020 4/4  2021 1/4
0     전국        소계     소계       5.6       6.0       6.5       7.1       6.4
1     서울        소계     소계       4.0       4.2       5.7       7.5       6.5
2    NaN  소계(도심지역)     소계       1.9       3.3       8.4      10.5       8.5
3    NaN       NaN    광화문       0.0       4.3       4.3       4.3       4.2
4    NaN       NaN    남대문       5.3       5.3       5.3       9.9       8.1

In [21]:
df21_20['상권별(1)'].fillna(method='ffill',inplace=True)
df21_20['상권별(2)'].fillna(method='ffill',inplace=True)
df17_19['상권별(1)'].fillna(method='ffill',inplace=True)

In [22]:
df21_20.head()

  상권별(1)    상권별(2) 상권별(3)  2020 1/4  2020 2/4  2020 3/4  2020 4/4  2021 1/4
0     전국        소계     소계       5.6       6.0       6.5       7.1       6.4
1     서울        소계     소계       4.0       4.2       5.7       7.5       6.5
2     서울  소계(도심지역)     소계       1.9       3.3       8.4      10.5       8.5
3     서울  소계(도심지역)    광화문       0.0       4.3       4.3       4.3       4.2
4     서울  소계(도심지역)    남대문       5.3       5.3       5.3       9.9       8.1

In [40]:
df21_20.rename(columns = {'상권별(1)':'지역', '상권별(2)':'지역분류','상권별(3)' : '도심'}, inplace =True)
df17_19.rename(columns = {'상권별(1)':'지역', '상권별(2)':'도심'}, inplace =True)
df21_20.fillna(0.0, inplace = True)
df17_19.fillna(0.0, inplace = True)

In [43]:
df17_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지역        192 non-null    object
 1   도심        192 non-null    object
 2   2017 1/4  192 non-null    float64
 3   2017 2/4  192 non-null    float64
 4   2017 3/4  192 non-null    float64
 5   2017 4/4  192 non-null    float64
 6   2018 1/4  192 non-null    float64
 7   2018 2/4  192 non-null    float64
 8   2018 3/4  192 non-null    float64
 9   2018 4/4  192 non-null    float64
 10  2019 1/4  192 non-null    float64
 11  2019 2/4  192 non-null    float64
 12  2019 3/4  192 non-null    float64
 13  2019 4/4  192 non-null    float64
dtypes: float64(12), object(2)
memory usage: 21.1+ KB

In [47]:
df21_20.head()

   지역      지역분류   도심  2020 1/4  2020 2/4  2020 3/4  2020 4/4  2021 1/4
0  전국        소계   소계       5.6       6.0       6.5       7.1       6.4
1  서울        소계   소계       4.0       4.2       5.7       7.5       6.5
2  서울  소계(도심지역)   소계       1.9       3.3       8.4      10.5       8.5
3  서울  소계(도심지역)  광화문       0.0       4.3       4.3       4.3       4.2
4  서울  소계(도심지역)  남대문       5.3       5.3       5.3       9.9       8.1

In [56]:
df21_20_서울 = df21_20.query("지역=='서울'")
df17_19_서울 = df17_19.query("지역=='서울'")

In [57]:
df21_20_서울.to_excel('상권별_소규모_상가_공실률_21~20.xlsx')
df17_19_서울.to_excel('상권별_소규모_상가_공실률_17~19.xlsx')

## 중대형 상가 공실률

In [58]:
ssg21 = pd.read_excel('상권별_중대형_상가_공실률_2021.xlsx')
ssg20 = pd.read_excel('상권별_중대형_상가_공실률_2020.xlsx')
ssg19 = pd.read_excel('상권별_중대형_상가_공실률_2019.xlsx')
ssg18 = pd.read_excel('상권별_중대형_상가_공실률_2018.xlsx')
ssg17 = pd.read_excel('상권별_중대형_상가_공실률_2017.xlsx')

ssg21_20 = [ssg20,ssg21]
ssg17_19 = [ssg17,ssg18,ssg19]

df21_20 = pd.DataFrame(ssg21[['상권별(1)','상권별(2)','상권별(3)']])
for ssg in ssg21_20:
    for i in ssg.columns:
        if i not in ['상권별(1)','상권별(2)','상권별(3)']:
            df21_20[i] = ssg[i]
            
            
df17_19 = pd.DataFrame(ssg17[['상권별(1)','상권별(2)']])
for ssg in ssg17_19:
    for i in ssg.columns:
        if i not in ['상권별(1)','상권별(2)']:
            df17_19[i] = ssg[i]

C:\ananconda\envs\multi\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [59]:
df21_20['상권별(1)'].fillna(method='ffill',inplace=True)
df21_20['상권별(2)'].fillna(method='ffill',inplace=True)
df17_19['상권별(1)'].fillna(method='ffill',inplace=True)

df21_20.rename(columns = {'상권별(1)':'지역', '상권별(2)':'지역분류','상권별(3)' : '도심'}, inplace =True)
df17_19.rename(columns = {'상권별(1)':'지역', '상권별(2)':'도심'}, inplace =True)

df21_20.fillna(0.0, inplace = True)
df17_19.fillna(0.0, inplace = True)

In [60]:
df21_20_서울 = df21_20.query("지역=='서울'")
df17_19_서울 = df17_19.query("지역=='서울'")

In [61]:
df21_20_서울.to_excel('상권별_중대형_상가_공실률_21~20.xlsx')
df17_19_서울.to_excel('상권별_중대형_상가_공실률_17~19.xlsx')

## 소규모 상가 임대료

In [66]:
ssi21 = pd.read_excel('상권별_소규모_상가_임대료_2021.xlsx')
ssi20 = pd.read_excel('상권별_소규모_상가_임대료_2020.xlsx')
ssi19 = pd.read_excel('상권별_소규모_상가_임대료_2019.xlsx')
ssi17_18 = pd.read_excel('상권별_소규모_상가_임대료_2017~18.xlsx')

ssi21_20 = [ssi20,ssi21]
ssi17_19 = [ssi17_18,ssi19]

df21_20 = pd.DataFrame(ssi21[['상권별(1)','상권별(2)','상권별(3)']])
for ssi in ssi21_20:
    for i in ssi.columns:
        if i not in ['상권별(1)','상권별(2)','상권별(3)']:
            df21_20[i] = ssi[i]
            
            
df17_19 = pd.DataFrame(ssi19[['상권별(1)','상권별(2)']])
for ssi in ssi17_19:
    for i in ssi.columns:
        if i not in ['상권별(1)','상권별(2)']:
            df17_19[i] = ssi[i]

In [67]:
df21_20['상권별(1)'].fillna(method='ffill',inplace=True)
df21_20['상권별(2)'].fillna(method='ffill',inplace=True)
df17_19['상권별(1)'].fillna(method='ffill',inplace=True)

df21_20.rename(columns = {'상권별(1)':'지역', '상권별(2)':'지역분류','상권별(3)' : '도심'}, inplace =True)
df17_19.rename(columns = {'상권별(1)':'지역', '상권별(2)':'도심'}, inplace =True)

df21_20.fillna(0.0, inplace = True)
df17_19.fillna(0.0, inplace = True)

In [68]:
df21_20_서울 = df21_20.query("지역=='서울'")
df17_19_서울 = df17_19.query("지역=='서울'")

In [69]:
df21_20_서울.to_excel('상권별_소규모_상가_임대료_21~20.xlsx')
df17_19_서울.to_excel('상권별_소규모_상가_임대료_17~19.xlsx')

## 중대형 상가 임대료

In [4]:
ssi21 = pd.read_excel('상권별_중대형_상가_임대료_2021.xlsx')
ssi20 = pd.read_excel('상권별_중대형_상가_임대료_2020.xlsx')
ssi19 = pd.read_excel('상권별_중대형_상가_임대료_2019.xlsx')
ssi17_18 = pd.read_excel('상권별_중대형_상가_임대료_2017~18.xlsx')

ssi21_20 = [ssi20,ssi21]
ssi17_19 = [ssi17_18,ssi19]

df21_20 = pd.DataFrame(ssi21[['상권별(1)','상권별(2)','상권별(3)']])
for ssi in ssi21_20:
    for i in ssi.columns:
        if i not in ['상권별(1)','상권별(2)','상권별(3)']:
            df21_20[i] = ssi[i]
            
            
df17_19 = pd.DataFrame(ssi19[['상권별(1)','상권별(2)']])
for ssi in ssi17_19:
    for i in ssi.columns:
        if i not in ['상권별(1)','상권별(2)']:
            df17_19[i] = ssi[i]

FileNotFoundError: [Errno 2] No such file or directory: '상권별_중대형_상가_임대료_2021.xlsx'

In [71]:
df21_20['상권별(1)'].fillna(method='ffill',inplace=True)
df21_20['상권별(2)'].fillna(method='ffill',inplace=True)
df17_19['상권별(1)'].fillna(method='ffill',inplace=True)

df21_20.rename(columns = {'상권별(1)':'지역', '상권별(2)':'지역분류','상권별(3)' : '도심'}, inplace =True)
df17_19.rename(columns = {'상권별(1)':'지역', '상권별(2)':'도심'}, inplace =True)

df21_20.fillna(0.0, inplace = True)
df17_19.fillna(0.0, inplace = True)

In [72]:
df21_20_서울 = df21_20.query("지역=='서울'")
df17_19_서울 = df17_19.query("지역=='서울'")

In [73]:
df21_20_서울.to_excel('상권별_중대형_상가_임대료_21~20.xlsx')
df17_19_서울.to_excel('상권별_중대형_상가_임대료_17~19.xlsx')

In [1]:
df21_20_서울.head()

NameError: name 'df21_20_서울' is not defined

## 소규모 상가 임대료 변환 20~21(천원/1m^2 -> 원/3.3m^2)

In [112]:
ssi21_20 = pd.read_excel('상권별_소규모_상가_임대료_21~20.xlsx')#,index_col='Unnamed: 0')

In [113]:
ssi21_20.drop('Unnamed: 0',axis=1, inplace=True)
def convert(x):
    return x * 3.3 * 1000

tmp = ssi21_20.iloc[:,3:].apply(convert)
tmp = tmp.astype(int)
ssi21_20.drop(ssi21_20.iloc[:,3:],axis=1,inplace=True)

In [117]:
ssi21_20 = pd.merge(ssi21_20, tmp,
       left_index=True, right_index=True,how='left')

In [118]:
ssi21_20.to_excel('상권별_소규모_상가_임대료_21~20(변환).xlsx')

## 소규모 상가 임대료 변환 17~19(천원/1m^2 -> 원/3.3m^2)

In [119]:
ssi17_19 = pd.read_excel('상권별_소규모_상가_임대료_17~19.xlsx')#,index_col='Unnamed: 0')

In [120]:
ssi17_19.head()

,Unnamed: 0,지역,도심,2017 1/4,2017 2/4,2017 3/4,2017 4/4,2018 1/4,2018 2/4,2018 3/4,2018 4/4,2019 1/4,2019 2/4,2019 3/4,2019 4/4
0,1,서울,소계,52.3,52.4,52.3,52.4,52.5,52.3,52.5,52.5,54.6,54.7,54.7,54.7
1,2,서울,소계(도심지역),69.2,69.3,69.3,69.3,68.7,68.8,69.0,69.1,76.6,76.5,76.7,76.7
2,3,서울,광화문,65.9,65.9,65.8,66.0,66.1,66.8,67.0,67.6,95.0,95.0,95.0,95.1
3,4,서울,남대문,43.1,43.1,43.1,43.1,42.8,42.7,42.7,42.7,75.7,75.4,75.4,75.4
4,5,서울,동대문,242.6,241.6,241.6,240.8,240.8,240.8,240.8,240.6,44.2,44.1,44.1,44.0

In [121]:
ssi17_19.drop('Unnamed: 0',axis=1, inplace=True)
def convert(x):
    return x * 3.3 * 1000

tmp = ssi17_19.iloc[:,2:].apply(convert)
tmp = tmp.astype(int)
ssi17_19.drop(ssi17_19.iloc[:,2:],axis=1,inplace=True)

In [122]:
ssi17_19 = pd.merge(ssi17_19, tmp,
       left_index=True, right_index=True,how='left')

In [124]:
ssi17_19.head()

,지역,도심,2017 1/4,2017 2/4,2017 3/4,2017 4/4,2018 1/4,2018 2/4,2018 3/4,2018 4/4,2019 1/4,2019 2/4,2019 3/4,2019 4/4
0,서울,소계,172589,172920,172589,172920,173250,172589,173250,173250,180180,180510,180510,180510
1,서울,소계(도심지역),228359,228689,228689,228689,226710,227040,227700,228029,252779,252450,253109,253109
2,서울,광화문,217470,217470,217140,217799,218129,220439,221100,223079,313500,313500,313500,313830
3,서울,남대문,142230,142230,142230,142230,141239,140910,140910,140910,249810,248820,248820,248820
4,서울,동대문,800579,797280,797280,794640,794640,794640,794640,793979,145860,145530,145530,145200

In [125]:
ssi17_19.to_excel('상권별_소규모_상가_임대료_17~19(변환).xlsx')

## 중대형 상가 임대료 변환 21~20(천원/1m^2 -> 원/3.3m^2)

In [137]:
Ssi21_20 = pd.read_excel('상권별_중대형_상가_임대료_21~20.xlsx')#,index_col='Unnamed: 0')

In [138]:
Ssi21_20.drop('Unnamed: 0',axis=1, inplace=True)
def convert(x):
    return x * 3.3 * 1000

tmp = Ssi21_20.iloc[:,3:].apply(convert)
tmp = tmp.astype(int)
Ssi21_20.drop(Ssi21_20.iloc[:,3:],axis=1,inplace=True)

In [139]:
Ssi21_20 = pd.merge(Ssi21_20, tmp,
       left_index=True, right_index=True,how='left')

In [140]:
Ssi21_20.head()

   지역      지역분류   도심  2020 1/4  2020 2/4  2020 3/4  2020 4/4  2021 1/4
0  서울        소계   소계    182489    181829    180510    178860    172589
1  서울  소계(도심지역)   소계    321420    317789    314820    306239    291060
2  서울  소계(도심지역)  광화문    269610    269280    259380    257399    258720
3  서울  소계(도심지역)  남대문    271920    270599    268289    266310    255420
4  서울  소계(도심지역)  동대문    135960    135960    138600    138269    148829

In [141]:
Ssi21_20.to_excel('상권별_중대형_상가_임대료_21~20(변환).xlsx')

## 중대형 상가 임대료 변환 17~19(천원/1m^2 -> 원/3.3m^2)

In [142]:
Ssi17_19 = pd.read_excel('상권별_중대형_상가_임대료_17~19.xlsx')#,index_col='Unnamed: 0')

In [143]:
Ssi17_19.drop('Unnamed: 0',axis=1, inplace=True)
def convert(x):
    return x * 3.3 * 1000

tmp = Ssi17_19.iloc[:,2:].apply(convert)
tmp = tmp.astype(int)
Ssi17_19.drop(Ssi17_19.iloc[:,2:],axis=1,inplace=True)

In [144]:
Ssi17_19 = pd.merge(Ssi17_19, tmp,
       left_index=True, right_index=True,how='left')

In [145]:
Ssi17_19.head()

,지역,도심,2017 1/4,2017 2/4,2017 3/4,2017 4/4,2018 1/4,2018 2/4,2018 3/4,2018 4/4,2019 1/4,2019 2/4,2019 3/4,2019 4/4
0,서울,소계,195359,195359,195359,195689,193380,193380,193049,192060,191070,191399,192060,192060
1,서울,소계(도심지역),317460,316470,313170,313170,313500,314820,314820,309210,329670,331320,331979,331979
2,서울,광화문,230010,228689,228359,228359,228029,230010,231000,231329,287760,287760,287760,287760
3,서울,남대문,120449,120449,120449,120449,120449,120119,120119,120119,290400,291060,298320,298320
4,서울,동대문,914759,914759,892319,892319,892319,896609,890009,850080,120780,121110,121439,121110

In [146]:
Ssi17_19.to_excel('상권별_중대형_상가_임대료_17~19(변환).xlsx')